streamlit>=1.40.0
chromadb==0.3.21
numpy>=1.24.0,<2.0.0
pandas>=2.0.0
nltk>=3.8.1
beautifulsoup4>=4.12.0
pyvi>=0.1.1
pydantic==1.10.12
protobuf==4.25.0
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp==1.24.0
